[2016-03-31 18:31] bilal-fazlani opened #1 "Add Support for .Net Core"
Any plans to port to .net core ?

[2016-04-05 20:37] RehanSaeed commented on #1
Yes of course. I'm waiting for the .NET Core support in Serilog to stabalize before I add it. I'd be willing to accept a PR for this.

[2016-04-14 20:25] MattAlex151 opened #2 "TypeLoadException w/ Mono 4.2.3"
I'm trying to use Serilog.Exceptions 1.1.0 with Serilog 1.5.14 and Mono 4.2.3 but every time I try to run .Enrich.WithExceptionDetails using either the .NET 4.0 or 4.5 dlls (matching Serilog and Serilog.Exceptions of course) I'm getting a TypeLoadException.

Here is a stack trace:

[code]

and some version info:
[code]

If Serilog.Exceptions uses P/Invokes then that is certainly the issue as these

[2016-04-15 12:00] RehanSaeed commented on #2
Thanks for posting this. There is no P/Invoke in Serilog.Exceptions.

Probably this is caused by [`ExceptionDestructurer`](https://github.com/RehanSaeed/Serilog.Exceptions/blob/master/Source/Serilog.Exceptions/Destructurers/ExceptionDestructurer.cs) because it contains a list of all the exceptions with just the default `Exception` properties. One of the `Exception` types in that long list may not

[2016-04-15 18:36] MattAlex151 commented on #2
Hey thanks! I'm trying to compile from source on Linux, and I'm running in to some issues there too. I have to run now so I figured I'd post my progress to see if it shed some more light. First, I had:

`/home/matt/serilog/Serilog.Exceptions/Source/Serilog.Exceptions/Serilog.Exceptions.xproj: error : /home/matt/serilog/Serilog.Exceptions/Source/Serilog.Exceptions/Serilog.Exceptions.xproj: /home/ma

[2016-06-17 01:34] slapperjoe opened #3 "NuGet feed DLL needs to be strong-named"
Hi,
The current Serilog.Exceptions package up in Nuget isn't strong-named which obviously causes issues.  Esp. when other serilog packages are signed.  It would be good if this package was also followed suit.

[2016-06-17 05:38] joelweiss commented on #3
Try using [Strong Namer](https://github.com/dsplaisted/strongnamer) to sign Serilog.Exceptions during the build process.

[2016-06-17 14:23] RehanSaeed commented on #3
Give it a try
https://www.nuget.org/packages/Serilog.Exceptions/2.0.0-rc

[2016-06-17 14:23] #3 closed

[2016-06-17 14:23] RehanSaeed commented on #1
Give it a try:
https://www.nuget.org/packages/Serilog.Exceptions/2.0.0-rc

[2016-06-17 14:23] #1 closed

[2016-06-17 14:24] RehanSaeed commented on #2
Feel free to reopen if you need me to do anything.

[2016-08-28 17:43] laedit commented on #2
So after some search it seems that the following exceptions [can't be loaded on Mono](https://travis-ci.org/laedit/Serilog.Exceptions.Tests/builds/155761054):

 - System.Diagnostics.Eventing.Reader.EventLogInvalidDataException
 - System.Diagnostics.Eventing.Reader.EventLogNotFoundException
 - System.Diagnostics.Eventing.Reader.EventLogProviderDisabledException
 - System.Diagnostics.Eventing.Reader

[2016-08-30 09:33] RehanSaeed commented on #2
I'm not sure. Presumably we could use a pre-processor directive but I'm not sure how to do this in the new project.json world. Any ideas?

[2016-08-30 12:09] laedit commented on #2
I am not sure this is possible.
But following the [netstandard mapping to platforms](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md), if you add another target to `netstandard1.2` mono should be covered.

[2016-08-30 13:13] RehanSaeed commented on #2
Have you tested that? Would you be willing to submit a PR for the above?

[2016-08-30 13:22] laedit commented on #2
I haven't, I am not at all familiar with `netstandard`.

[2016-08-30 21:03] laedit commented on #2
So I've tried but ended with nothing, this was a dead-end: `System.Core` isn't supported by any `netstandard` targets.
And after some though I don't think having a `mono` target can help: for example my application target .NET 4.5, which is supposed to be largely compatible with mono, so when the build is fetching the nuget `Serilog.Exceptions` package, it's the `net45` which is referenced no matt

[2016-08-31 04:35] laedit commented on #2
Thanks to http://apisof.net I can confirm that these types are only available in the [full .NET Framework]'(https://apisof.net/catalog/System.Diagnostics.Eventing.Reader.EventLogInvalidDataException).

[2016-08-31 08:02] RehanSaeed commented on #2
Perhaps we could check if these types exist in the assemblies and only add them if they do?

[2016-08-31 09:05] laedit commented on #2
Excellent idea! :smile:
I was so focused on pre-processor directive that I haven't think of that.

[2016-09-09 17:21] chrisklepeis opened #6 "Asp.Net Core ILogger and Serilog.Sinks.Email"
Not sure how to get this working with the built in ILogger in ASP.Net Core or if it can even integrate with the Serilog.Sinks.Email package.

            Log.Logger = new LoggerConfiguration().Enrich.WithExceptionDetails()
                .WriteTo.Email(new EmailConnectionInfo()
                {
                    // my smtp info here
                }, restrictedToMinimumLevel: Serilog.Events.L

[2016-09-10 10:51] RehanSaeed commented on #6
Glad you got it working sir!

[2016-09-10 10:51] #6 closed

[2016-09-10 11:07] RehanSaeed commented on #2
@laedit  So I created a Travis build [here](https://travis-ci.org/RehanSaeed/Serilog.Exceptions/jobs/158945843) but it's failing. The errors suggest that there are other types not supported on Mono. Is this correct?

[2016-09-10 12:35] laedit commented on #2
Strange, the 'EventSourceException' should have fail my test.
Apisof.net confirm that it doesn't exists on Mono.
I will look into it tomorrow, I can't do it right now.

[2016-09-10 18:06] RehanSaeed commented on #2
Cool, looks like it was worth investing in Travis CI.

[2016-09-11 05:54] laedit commented on #2
Yes, that was an excellent idea 😄

I have tested the use of the new version of `Serilog.Exceptions` on a Travis build and [it passed](https://travis-ci.org/laedit/Serilog.Exceptions.Tests/builds/159072786).
The difference is that I always install the latest version of mono and in your config you specified the version `4.2.3`.

So if you want to support that specific version, I will add `EventSourc

[2016-09-11 09:23] RehanSaeed commented on #2
I just tried 4.4.2 [here](https://travis-ci.org/RehanSaeed/Serilog.Exceptions/builds/159085840) and according to [this](http://www.mono-project.com/docs/about-mono/releases/) thats the latest release version.

[2016-09-11 13:50] laedit commented on #2
Ok, so I honestly don't know why it is working on my test project.
Nevertheless, I will test all types with apisof.net to see if there are other that I missed.

[2016-09-14 21:24] mglodack opened #8 "Not Logging Any Enriched Information"
I followed your example that is on the README, but I am unable to get my exceptions printed in a pretty format.

I'm currently using this as my logger.
[code]

When I call

[code]

It doesn't seem to print it pretty. Is there something I am missing?

[2016-09-16 08:04] RehanSaeed commented on #8
You mean pretty JSON format. This is not a feature of Serilog.Exceptions but of the `JsonFormatter` and `RollingFileSink`. In my ReadMe, I just manually formatted the JSON for readability.

You probably don't want to do this anyway. You should not use the JSON format for human readability, you should use it to use something like Kibana. See http://rehansaeed.com/logging-with-serilog-exceptions/ fo

[2016-09-16 08:04] #8 closed

[2016-09-16 22:45] Mike-EEE opened #9 "StyleCop Rules Enabled?"
It appears when I upgrade to Serilog.Exceptions 2.2.0, it adds StyleCop analysis to my solution.  All sorts of warnings are appearing now when I build my projects.  Is this a known issue, by chance?

[2016-09-18 07:52] RehanSaeed commented on #9
Published 2.2.1. Sorry for the error on my part.

[2016-09-18 07:52] #9 closed

[2016-09-18 08:46] Mike-EEE commented on #9
Awesome!  Glad to see that I am not crazy for once. 😛   Thank you for being so quick to fix this!

[2016-10-03 12:40] ShaneCourtrille opened #11 "Support for Exception.Data?"
Is there support for logging of the key/value pairs in the [Exception.Data](https://msdn.microsoft.com/en-us/library/system.exception.data(v=vs.110).aspx) property?

[2016-10-07 10:19] RehanSaeed commented on #11
Yes

[2016-10-07 10:19] #11 closed

[2016-10-07 14:31] ShaneCourtrille commented on #11
Ahhh I see it in the example now.  Thanks.

[2016-10-13 07:39] RehanSaeed commented on #2
The ground has shifted again.

netstandard 2.0 will add support for Mono. If we target that, then Mono support will be assured and we won't have to do reflection in `SqlExceptionDestructurer`. I say we wait for official Mono support.

Also, by then xproj to csproj will be complete, and the Tooling bug stopping our Travis CI builds from successfully running xUnit tests on Mono will be fixed.

[2016-10-13 07:39] #2 closed

[2016-11-08 10:47] arnolddg opened #12 "Question: when following the example from the readme: no extra ExceptionDetails in the log"
The example as explained in Readme.md is not working for me, no extra information is shown.
I made a little testprogram (see attached [TestSeri.zip](https://github.com/RehanSaeed/Serilog.Exceptions/files/577904/TestSeri.zip)), using serilog v2.3 and Serilog.Exceptions v2.2.1 (installed via NuGet) and EntityFramework 6.1.3.
In that program I use the following structure taken from the Readme.md:
`tr

[2016-11-08 11:41] arnolddg commented on #12
Added note:
after enabling debugging with
`Serilog.Debugging.SelfLog.Enable(msg => System.Diagnostics.Debug.WriteLine(msg));`

it appears that under the hood an exception is thrown, System.Reflection.TargetParameterCountException: Parameter count mismatch.
[Serilog-debugging-exception.txt](https://github.com/RehanSaeed/Serilog.Exceptions/files/578025/Serilog-debugging-exception.txt)

[2016-11-15 12:35] rsuter opened #13 "Exception when logging DbEntityValidationException"
When logging a `DbEntityValidationException` I get the following exception in `Log.Error(exception)`

[code]

Platform: .NET 4.5.2

Is this a known issue?

[2016-11-15 16:24] rsuter commented on #13
The problem are indexed properties which are not correctly handled:

![image](https://cloud.githubusercontent.com/assets/2603405/20313789/4601550e-ab58-11e6-9464-2fbe5606d4ca.png)

Adding

    .Where(x => x.CanRead && x.GetIndexParameters().Length == 0)

fixes this, but indexed properties are ignored...

[2016-11-15 16:28] rsuter commented on #13
Created PR: https://github.com/RehanSaeed/Serilog.Exceptions/pull/14

[2016-11-17 08:29] arnolddg commented on #13
also solves [issue 12](https://github.com/RehanSaeed/Serilog.Exceptions/issues/12) I think.

[2016-12-11 18:12] hardcodet commented on #13
Unrelated to this very case, logging MUST NOT crash. Never. Seeing this just made me skip the whole project - I simply cannot affort my logging pipeline to crash with an exception and thus make me blind to potentially critical production issues (since I would have never observed them in dev/test). Whatever the framework does, everything should be in a try/catch block with a fallback...

Just my 0.

[2016-12-11 18:19] rsuter commented on #13
The exception is catched and the additional property is just not generated and appended...

[2016-12-11 18:26] hardcodet commented on #13
Awesome - I misinterpreted the post then. Thanks for the clarification!

[2017-01-07 18:46] RehanSaeed commented on #13
Apologies for not getting on top of this earlier. I was on holiday and later got distracted by life. I've now merged both PR's. Can you confirm everything works using the MyGet package and I'll arrange a release.

[2017-01-07 18:47] RehanSaeed commented on #12
I suppose this is a duplicate of https://github.com/RehanSaeed/Serilog.Exceptions/issues/13? Re-open if I'm wrong.

[2017-01-07 18:47] #12 closed

[2017-01-09 23:09] #13 closed

[2017-01-10 10:41] RehanSaeed commented on #13
I guess closing the issue means that all works well?

[2017-01-10 11:25] rsuter commented on #13
I didnt test the myget package (feed url?) but I already use the PRs in production code and it works for me..

[2017-01-25 17:22] camiller2 opened #16 "Feature Request: Fluent Destructure API"
This is a feature request. Can we update the library so that Exception Destructures can be hooked in using a fluent API as opposed to passing a list into .Enrich.WithExceptionDetails()?  I'm envisioning something like:

[code]

Or better yet somehow hook into the existing LoggerConfiguration's Destructures:

[code]

[2017-01-25 22:07] camiller2 commented on #16
Just realized that this honors the standard Serilog Destructurers.

[2017-01-25 22:58] #16 closed

[2017-03-21 01:10] optical opened #17 "Exception Destructuring blows up when IDictionary is generic"
When `ExceptionDestructurer.Destructure` is invoked with an Exception that has a `.Data` property that returns a generic dictionary, eg `Dictionary<string, object>`, an invalid cast exception is raised. This is because it attempts to cast a KeyValuePair to a DictionaryEntry. See [code](https://github.com/RehanSaeed/Serilog.Exceptions/blob/master/Source/Serilog.Exceptions/Destructurers/ExceptionDes

[2017-04-21 11:31] RehanSaeed commented on #17
I'll take a look after we merge your VS 2017 PR. Thanks for all your hard work!

[2017-04-28 09:04] #17 closed

[2017-04-28 09:05] RehanSaeed commented on #17
Please check My-Get (See front page for link) for your fix. Will release to NuGet if all is well.

[2017-04-28 10:20] optical commented on #17
Thanks for this - Will give a spin next week.

[2017-05-10 23:58] optical commented on #17
@RehanSaeed I've given this a quick test locally and its now successfully handling the exceptions it was failing on :+1:

[2017-05-15 16:47] Orgbrat opened #21 "Logging Exception Details Issue ASP.NET Core 1.1"
Was having an issue with Serilog.Extensions.Logging and Serilog.Sinks.MSSqlServerCore in ASP.NET Core 1.1 writing to database, it created the logs table with no issue but would not write data. Finally got SerilogSelfLog working and was able to determine that the issue was the exception value was always null even though I know I am passing an exception object in the logger.LogError(“my error”, ex).

[2017-05-15 20:54] nblumhardt commented on #21
Hi @Orgbrat - just following up on the Gitter thread, it looks possible that you're calling:

[code]

Instead of:

[code]

Is that the cause? Cheers!

[2017-05-15 23:24] Orgbrat commented on #21
I wish that was the issue but I am using the Serilog.Extensions.Logging with the builtin ASP.NET core logging provider and DI which I believe uses the format _logger.LogError("Message", ex) format and should pass thru the pipeline using the Microsoft ILoggerFactory with _loggerFactory.AddSerilog() adding Serilog to the pipeline middleware. The format you have above is the standard Serilog format w

[2017-05-16 16:15] RehanSaeed commented on #21
Serilog.Exceptions just adds more data to the log message but does not stop anything from getting logged. When you remove Serilog.Exceptions, does the exception data appear? If so, then it's us doign something wrong, otherwise its the other sinks you are using.

[2017-05-16 22:20] Orgbrat commented on #21
@RehanSaeed @nblumhardt  Want to say thanks for all the help @nblumhardt was exactly right about which function call you need to use to send exception thru the pipeline and to Serilog. You must use at least _logger.LogError(1000, ex, "My Error")  reference the [Logger Extensions Class](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.extensions.logging.loggerextensions#Microsoft_Extensio

[2017-05-16 22:20] #21 closed

[2017-06-02 20:18] Des-Angelo opened #22 "Rolling FIles creating more than one log file per date"
When a new exception is logged, a new file is created.

Scenario:
First file created:
**log-20170602**

Files created per exceptions:
**log-20170602_001
log-20170602_002
log-20170602_003**

My code (C# - Visual Studio 2015 Project):
[code]
Refer that class to avoid  writing the following code in every class:
[code]
Is there a way to prevent the files being created per exception but per new date.

[2017-06-03 01:21] nblumhardt commented on #22
Hi @Des-Angelo  - you need to create only a single logger attached to the file, and share it between all of the classes that use it: https://github.com/serilog/serilog/wiki/Lifecycle-of-Loggers

HTH!
Nick

[2017-06-05 15:37] Des-Angelo commented on #22
Hey @nblumhardt - Totally overlookedthe wiki link that serilog has a global log class I can just configure in the configure method in startup.cs. Thanks for your help. However:

 `Log.Error("Some Message", ex)`

Does not have details of the exceptions such as stacktrace, message, etc.

`Log.Logger = new LoggerConfiguration()
                .Enrich.WithExceptionDetails()
                .WriteTo.S

[2017-06-05 15:39] Des-Angelo commented on #22
Hey @nblumhardt - Totally overlookedthe wiki link that serilog has a global log class I can just configure in the configure method in startup.cs. Thanks for your help.

[2017-06-05 15:39] #22 closed

[2017-06-09 22:09] nskerl opened #23 "Extend SqlException destructurer"
What is the best way to extend the [SqlException](https://github.com/RehanSaeed/Serilog.Exceptions/blob/master/Source/Serilog.Exceptions/Destructurers/SqlExceptionDestructurer.cs) destructurer? I'd like to include additional properties, like Procedure and ErrorCode. Is there a way to extend the existing destructurer or is it best to create a custom class. Thanks for any help.

[2017-06-13 08:07] RehanSaeed commented on #23
You can create your own destructurer (See code for the current one for an example) and pass that to Serilog.Exceptions.

[2017-06-13 08:07] #23 closed

[2017-08-17 15:59] osudude opened #25 "Exception.Data destructuring support"
Our code base will frequently put exception relevant data in Exception.Data (param values, user identity, sql statements, etc).   Does Serilog.Exceptions have any support for destructuring Exception.Data key/values?  Our current logging framework will log these values and was curious how to achieve comparable functionality using serilog.

[2017-08-17 16:07] RehanSaeed commented on #25
Where an exception type has no custom properties over and above `System.Exception` or where certain common types of exceptions have been catered for like `System.ArgumentNullException` then these are destructured with zero reflection. Where there are exception types that do not fit into the above category, we use reflection to handle this case.

Hope that helps!

[2017-08-17 16:07] #25 closed

[2017-09-06 14:24] jstar-z opened #26 "NuGet Package Load Error"
Get the following error when trying to install the NuGet package:

Install-Package : Unable to find package 'Serilog.Exceptions' at source ''.
At line:1 char:1
+ Install-Package Serilog.Exceptions
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Install-Package], Exception
    + FullyQualifiedErrorId : NuGetCmdletUnhandledException,NuGet.PackageManagement.Power

[2017-09-08 09:26] RehanSaeed commented on #26
I've not had any trouble. Whatever problem you have, it sounds like a NuGet problem.

[2017-09-08 09:26] #26 closed

[2017-09-14 20:50] shatl opened #27 "Remove System.Data.SqlClient dependency"
Please extract SqlException destructurer to separate.
There are lots of cases when application does not have a dependency on SQL Server.

Another option is to use reflection to lookup for properties.

Thanks

[2017-09-20 14:36] ArnaudB88 opened #28 "Use AsyncFriendlyStackTrace github package"
Hi,
Stacktraces of async functions are not so readable. Is it possible to use the specified github package and change the code in ExceptionDestructurer.Destructure() so stacktraces are more readable.
Thanks!

[2017-09-20 21:49] WayneHiller opened #29 "Be able to exclude the StackTrace"
It would be nice to be able to exclude the StackTrace because SeriLog already includes that and the duplication can get quite large.

[2017-09-22 13:27] RehanSaeed commented on #28
While I think that project is cool, it is bad performance wise. If an app throws lots of exceptions, we don't want to affect app performance just to log an error in a nicer format.

[2017-09-22 13:27] #28 closed

[2017-09-22 13:29] RehanSaeed commented on #29
Thats a decent idea. I'm too busy to look at this at the moment but I will accept a PR.P Perhaps we should also include the message?

[2017-09-22 13:34] RehanSaeed commented on #27
I agree with your sentiment. When I started this project for use in the company I work for, SQL was a requirement. I would like destructurers to be more pluggable generally. For every DLL in the .NET Core Framework, my thinking was that I'd create a mirror DLL containing destructurers. If you wanted all destructurers, you could use a meta package that referenced them all a bit like how ASP.NET Cor

[2017-09-22 14:06] WayneHiller commented on #29
I can do it. I Cloned it and just commented out the StackTrace Line for myself.  It would probably be good to have both the StackTrace and the Message as optional. Usually there is no reason to duplicate them.  I really noticed it when viewing events in Seq.

[2017-09-22 14:37] RehanSaeed commented on #29
Maybe we should omit them as you say. Is there any reason at all they might be useful? I can't think of any, except that it groups all properties in one place.

[2017-09-22 14:46] WayneHiller commented on #29
I can't really think of any either. Both properties will always be included in all the events anyway. Only maybe if someone was doing a custom display of events or something. Would be very rare.

[2017-10-15 16:34] shatl commented on #27
@RehanSaeed I moved destructurer to separate assembly.
Could you check/update build scripts?

Thanks

[2017-10-17 07:56] RehanSaeed commented on #27
I use Cake for build scripts. The cool think is, the [script](https://github.com/RehanSaeed/Serilog.Exceptions/blob/master/build.cake) is so generic, it still works with your changes.

Have reviewed your changes. One issue but will merge and release soon.

[2017-11-08 13:35] JeroenDragt commented on #29
I am currently trying to create a filter so you can exclude the properties that you do not want when configuring your logger, would that be a good way to approach this issue?

[2017-11-08 14:02] WayneHiller commented on #29
That would probably work the best.

[2017-11-09 10:54] JeroenDragt commented on #29
@RehanSaeed  I have created the filter, but I am unable to create a branch, and can therefore not sumbit a pull request. Can you grant me the required access rights?

[2017-11-09 22:23] nblumhardt commented on #29
@JeroenDragt you'll need to use the "Fork" button at the top of the page to create your own fork, from which you can submit a PR.

[2017-11-10 08:04] JeroenDragt commented on #29
Ah, thanks. I submitted the pull request :)

[2017-11-13 23:49] RSuter opened #33 "Support Demystifier?"
Better async stacktraces. See https://github.com/benaadams/Ben.Demystifier

[2017-11-14 02:11] nblumhardt commented on #33
@RSuter if you plug in https://github.com/nblumhardt/serilog-enrichers-demystify you'll get clean stack traces from this package 👍

(Still a fairly experimental out-of-band component while we learn the ropes, but eventually something I hope Serilog itself can buy into :-))

[2017-11-14 09:19] RehanSaeed commented on #33
That new package is pretty cool, I'll be adding that to my apps today too!

[2017-11-14 09:20] #33 closed

[2017-11-14 09:39] RSuter commented on #33
Ah, I think Serilog.Exceptions is only for serializing additional properties and does not log StackTraces itself? Then using Serilog.Enrichers.Demystify makes sense...

[2017-11-14 09:44] RehanSaeed commented on #33
That is correct. For reasons that I shall never understand doing a `ToString()` on an exception does not output all the information in an `Exception` object. `Serilog.Exceptions` tries to solve that without reflection in some cases but falls back to reflection for uncommon and esoteric exceptions.

[2017-11-16 09:43] #27 closed

[2017-11-16 10:19] RehanSaeed commented on #29
@JeroenDragt I've taken a look at your [pull request](https://github.com/RehanSaeed/Serilog.Exceptions/pull/32) and you've added the ability to turn off the logging of any property and not just the StackTrace and Message properties. I'm not sure that this is something that people would want to do. At least, I can't think of a reason to do it off the top of my head and it adds complexity to all of

[2017-11-16 11:07] JeroenDragt commented on #29
@RehanSaeed The reason why i added the ability to ignore any property was because in some of our logging we have fields that are so big that it obscures the rest of the logged properties. For example when logging an entity framework exception, one of the logged properties contained a breakdown of all the settings of each field of a database table, which resulted in a property of over a 1000 lines,

[2017-11-16 17:21] shatl commented on #27
Thanks @RehanSaeed . Can yuo push this to nuget?

[2017-11-17 09:06] RehanSaeed commented on #29
@JeroenDragt What are you using to store and view your logs? Is that a custom exception or one built into .NET? One solution would be to just create a custom destructurer for that special exception.

[2017-11-17 09:13] RehanSaeed commented on #27
It's on it's way.

[2017-11-22 10:31] JeroenDragt commented on #29
@RehanSaeed I'm using the ELK (Elasticsearch, Logstash, Kibana) stack for logging. The exception in question is not a standard .NET exception, but from a third party library called Entity Framework. I could make a custom destructurer, but I feel my solution adds more flexibility and would save people time, because they would not have to make a custom destructurer every time they want to log a thir

[2017-11-22 14:06] WayneHiller commented on #29
Allowing any property to be excluded would be the most flexible approach.

[2017-11-30 11:10] JeroenDragt commented on #29
So @RehanSaeed, what do you think?

[2018-01-05 10:05] RehanSaeed commented on #29
Apologies for the delay, I haven't been very good at pushing through this PR. I've been away for a while.

This is a feature needed in special circumstances, there is a performance cost to this feature. As an example, the `AggregateExceptionDestructurer` is very simple and the cost is doing `List<T>.Contains` for ever property in the exception. The reflection destructurer, the cost as compared to

[2018-01-05 10:17] JeroenDragt commented on #29
Ok, that sounds good!

[2018-01-08 21:59] krajek commented on #29
In general, I like the idea of the generic functionality of ignoring properties.

Regarding performance, obviously, there is a tradeoff but:
* I assume it would be an option, disabled by default, only those who use it will pay for it
* performance of lookup operation may be improved, for example using TRIE
* last but not least, in some sense, performance is not critical for exception logging libra

[2018-01-09 09:56] RehanSaeed commented on #29
Totally agree with your first two points. On your third point, in my experience exceptions tend to be raised in bulk when they happen e.g. database goes down, now you have thousands of exceptions. In this scenario, logging takes a lot of processing time as you are processing logs of a large size and number, so I think performance is a problem with logging in general. This package tries to partiall

[2018-01-09 14:05] WayneHiller commented on #29
I agree that using Reflection should always be a last resort due to performance.  At the same time excluding properties that you are not interested in cuts down on network traffic and storage space. I think as long as "Property Filtering" is off by default it would work ok.

[2018-01-11 09:30] RehanSaeed commented on #29
Cool, thanks for feedback everyone.

I've asked for one optimization to be made to the PR. If there are no ignored properties, the property is added as normal and we pay no cost.

I'll merge the PR as soon as I can after that.

[2018-01-12 21:28] krajek commented on #29
I resigned from the PR #35 because of its flawed design. I will come back with a better solution.

[2018-01-16 15:04] Dissimilis opened #38 "Allow to change property name"
"ExceptionDetail" now is hard-coded in this enricher. It would be really nice to be able to change this name.

[2018-01-16 15:05] RehanSaeed commented on #38
Good idea.

[2018-01-18 10:51] #29 closed

[2018-01-19 08:37] mdissel opened #41 "Web/Htttp exceptions"
Is there a reason why web/http exceptions types are not added?

[2018-01-19 09:22] RehanSaeed commented on #41
Firstly, they are still handled and logged but using reflection. Serilog.Exceptions handles all basic exceptions in the base class library in .NET Core. We can't add all exceptions in all NuGet packages because that would add a lot of bloat to your application.

Long term, my plan is to add additional packages to this project that would handle exceptions in other packages without using reflection.

[2018-01-19 09:44] mdissel commented on #41
I guess when switching to fastmember (or other reflection strategy) the overhead will be minimal

[2018-01-19 09:46] RehanSaeed commented on #41
There is currently a PR for fastmember (I was not aware of the library, so feel free to comment on the PR, the more eyes on it the better). The benchmark shows a slight improvement.

[2018-01-20 15:04] krajek opened #43 "Failing build"
@RehanSaeed you must have noticed that build is failing. Did you try to fix it? Do you any idea why it started failing in the first place?
I would suggest fixing the problem before releasing next major version.

[2018-01-20 15:38] RehanSaeed commented on #43
I was ignoring Travis CI because the Windows build fails on Linux even though Mono is installed (It used to work in project.json). There is an open issue about it and my understanding is that it will probably get fixed in 2.1.

Check the AppVeyor build [history](https://ci.appveyor.com/project/RehanSaeed/serilog-exceptions/history). Looks like your PR broke the build. I must have missed it.

[2018-01-20 15:44] RehanSaeed commented on #43
BTW, I also have a Circle CI build that I have not added to ReadMe. I've been experimenting with using it as a replacement for Travis CI because Travis is slow to start a build and slow to run too because they install .NET Core from scratch each time. Circle CI uses Docker.

[2018-01-20 19:31] krajek commented on #43
You are right, the build was passing before I started contributing regularly, I will investigate the issue before the major release.

[2018-01-20 20:06] krajek commented on #43
Do you know any way I could re-run build for some historical commit? It would help a lot in the diagnosis of the problem.

[2018-01-22 10:48] RehanSaeed commented on #43
FYI, AppVeyor and Travis CI just run Cake build (I highly recommend it). You can just run that yourself on an old commit.

Anyway, I merged your PR. Thanks again.

[2018-01-22 10:48] #43 closed

[2018-01-22 18:32] shatl opened #46 "Do not destructure Uri objects"
When logging exception data, write Uri object as string, not destructure it.

[2018-01-22 19:24] krajek opened #47 "Allow to configure depth of destructuring"
For now, reflection destructurer depth traversal is hardcoded to 10, I think it would be a good idea to allow configuration for the field. `Serilog` has that and more in form of `Destructure.ToMaximumDepth(n)`.
What do you think about that?
My dream solution is to be using `Serilog` configuration directly and support all the limits that `Serilog` does(collection length, string length).

[2018-01-23 09:53] RehanSaeed commented on #46
Open for a PR

[2018-01-23 09:54] RehanSaeed commented on #47
I think we need a settings class where we can include this and the name of the property `ExceptionDetail` to satisfy https://github.com/RehanSaeed/Serilog.Exceptions/issues/38.

[2018-01-27 06:30] #46 closed

[2018-01-30 09:31] bxbxbx opened #50 "Insert data from ex.data into output template"
I tried the following but can't get it to work.

var ex = new InvalidOperationException("SubJob {SubJobId} Status<>Startable");
ex.Data.Add("SubJobId", subJobId);

_logger.Fatal(ex, ex.Message);

But the Property is not replaced in the output, it seems that I'm doing something wrong, or is this not feasible?

Can you please offer some advice?

[2018-01-30 19:15] krajek commented on #50
Hi @bxbxbx.

There are two major problems with your approach, let me explain each one separately.

The first issue is that exception message is not a template for `Serilog`. Whether you are using `Serilog.Exceptions` or not is not relevant.

The second issue is that you do not have to and, in fact, you should never pass `ex.Message` to as a `messageTemplate` argument of `Serilog's` log method. The

[2018-01-31 07:56] bxbxbx commented on #50
Hello @krajek

thx for your elaborate answer.
This is a legacy project, so no IoC yet, but I'm working on that.
I was thinking that this was a way to avoid passing around the logger all the time, but I guess I will have to.

bye!

[2018-01-31 08:57] #50 closed

[2018-02-02 19:03] krajek commented on #41
@mdissel do you expect any work on our side? It seems that your needs are met by the automatic reflection destructurer, but I am asking just to be sure.

[2018-02-02 21:01] mdissel commented on #41
reflection is ok for now.

[2018-02-02 21:03] #41 closed

[2018-02-05 19:08] krajek opened #52 "Document every public object in the library"
Before 4.0 I want to make sure that every public facing element of API is well documented.

[2018-02-06 09:54] RehanSaeed commented on #52
That would be excellent. I tend to use GhostDoc in combination with turning on the documentation file in the csproj and the StyleCop documentation rules.

[2018-02-06 16:24] #38 closed

[2018-02-06 16:31] krajek commented on #47
Closed by #49.

[2018-02-06 16:31] #47 closed

[2018-02-06 19:42] krajek commented on #52
Open questions:
A) Should we make `WithExceptionDetails(destructurers)` obsolete and direct users to new fluent API? I think that we should.
B) Should we make the WithIgnoreStackTraceAndTargetIdExceptionFilter a default? I think yes, seems like users do not need `StackTrace` to be duplicated. I am open for discussion.
C) Why this method extension method exists? It does not seem to contain anything

[2018-02-07 10:15] RehanSaeed commented on #52
a. Yes
b. Yes
c. I added this at the time because it was useful to me but yes I agree that it does not fit in with this project.

[2018-02-07 14:21] RehanSaeed commented on #52
Consider removing the lines related to comments [here](https://github.com/RehanSaeed/Serilog.Exceptions/blob/87ec6382060fb8374e1f93d3969e1dd772133958/MinimumRecommendedRulesWithStyleCop.ruleset#L71)

[2018-02-09 15:28] #52 closed

[2018-02-11 16:27] krajek opened #54 "Destructuring structures"
For now, we do not destructure any value type including structures. Obviously, it is correct for primitive types and for types like `DateTime` or `Guid`.  I am not sure about user-defined structures. It seems to me that types like the following one
[code]
should be destructured.

@RehanSaeed what do you think?

[2018-02-12 09:23] RehanSaeed commented on #54
Not sure about this one. Structs often implement `ToString()` or should if they don't already, so I'm not sure that using reflection would always provide better results.

We could add this as an option but we'd have to add some code to check that the struct is not primitive. I'm not sure how we could do that, we could check by namespace I suppose.

Also, FYI, the changlog.md file needs updating af

[2018-02-12 13:48] krajek commented on #54
Regarding `CHANGELOG.md`, yes, I forgot about putting 4.0.0 in there. Now it is done.
Regarding GitHub releases: `CHANGELOG.md` will be a definitive source of truth. Release pages are just a convenient way to start a release and create a tag.

Regarding structures: I am asking because I was surprised when I did characterization tests for the destructuring of `struct`. Obviously, nobody asked for t

[2018-02-12 13:50] RehanSaeed commented on #54
I wonder how JSON.NET implements this feature:

[2018-02-19 13:00] RehanSaeed opened #58 "Add support for serilog-settings-configuration"
I've just realized that our builder code will not work with [serilog-settings-configuration](https://github.com/serilog/serilog-settings-configuration). We should additionally provide an overload which works with this package which looks at the parameter names I think, need to investigate more.

cc @krajek

[2018-02-21 09:51] krajek commented on #58
I took a quick look and there are two ways in which Serilog.Settings.Configuration can be used.
One is to use the default `WithExceptionDetails` with no arguments.
Second is to use some class implementing our configuration interface, with default constructor which can be used in the configuration file. Of course, the second method is obscure.

For 4.1 I will prepare a small PR that will expose new

[2018-03-22 22:08] shatl opened #59 "Race Condition in ReflectionBasedDestructurer"
`reflectionInfoCache` is not thread-safe.

See https://github.com/RehanSaeed/Serilog.Exceptions/blob/master/Source/Serilog.Exceptions/Destructurers/ReflectionBasedDestructurer.cs#L319

[2018-03-23 05:31] krajek commented on #59
Hey @shatl. Yes, you are absolutely right.
Do you think that it is a problem? Should sinks be thread safe? Is it documented somewhere?
I am sincerely curious, I haven't yet found such explanation.

[2018-03-23 21:40] shatl commented on #59
Good question to ask on Serilog project page :)
I'd say it is more about Enrichers, not Sinks.
Since this Destructurer has the state, I'd be very careful about multi-threading.

Looking at https://github.com/serilog/serilog/blob/96bfe61c7e35271450062846374c13cce75b83e5/src/Serilog/Core/Logger.cs#L408 I did not found any code enforcing single threading on enrichers.

[2018-03-27 18:28] #59 closed

[2018-03-27 18:41] krajek commented on #59
@shatl Thanks a lot, for mentioning the issue. I have just added simple `lock` in a critical section so that `ReflectionBasedDestructurer` is now thread-safe. The fix is released as part of `4.1.0`.

[2018-03-28 06:24] krajek commented on #59
@RehanSaeed could you please publish `4.1.0` nuget package?

[2018-06-04 16:32] johnrutherford commented on #59
I was investigating high CPU usage on our web servers. The report from DebugDiag linked to this post: [High CPU in .NET app using a static Generic.Dictionary](https://blogs.msdn.microsoft.com/tess/2009/12/21/high-cpu-in-net-app-using-a-static-generic-dictionary/). This was the relevant stack trace:

[code]

It looks like this change to make the `ReflectionBasedDestructurer` will resolve our high C

[2018-06-04 17:13] krajek commented on #59
Thanks for sharing the info. It is always informative to see such problems in the wild.

[2018-08-07 21:05] shatl opened #63 "Nuget package for Serilog.Exceptions.SqlServer is missing"
Hi,
is nuget for SqlServer destructurer published?

[2018-08-08 07:54] RehanSaeed commented on #63
Not published. It contains a single solitary class at the moment. I think the idea of having separate assemblies to add extra destructurers is a good one. We just need to put some more effort in to add more of them.

[2018-08-08 16:44] shatl opened #64 "Do not destructure CancellationToken"
Currently exception details is showing CancellationToken like this:
[code]
rendering ObjectDisposedException if it is disposed

Should render it as
[code]

[2018-08-09 07:29] RehanSaeed commented on #64
Am willing to accept a PR to add this feature.

[2018-08-13 19:19] shatl commented on #64
I'll work on it

[2018-11-04 21:19] krajek opened #75 "Failing build"
@RehanSaeed did you notice that build for `master` branch is failing?
From the history of builds, it seems that the problem showed up after version `4.1`, possibly by merging `dependabot` commits.

Do you have a plan to fix the build?

EDIT: I have just pushed 9fbb55a, which fixes the failing test, part of the problem of failing the build.

[2018-11-05 08:46] #75 closed

[2018-11-10 14:59] emumanu opened #78 "Add inner exception text as a property"
Hello,

first of all. Thank you for Serilog.Exceptions.

I want to ask you for an improvement:
most of the time, you should take a look at the message of the most inner exception to understand why there was a problem. It would be great if you can add an option to generate a property (f.e. InnerMostExceptionMessage") with that message.

It should take you very little time to add and I think that ma

[2018-11-12 10:00] RehanSaeed commented on #78
That's a good idea. However, this does make each log message much bigger, so would be a feature that we'd probably turn off by default. We'd accept a PR for this feature.

[2018-11-13 06:15] emumanu commented on #78
Good!

As soon as I find some free time I'll try to submit a PR.

[2018-11-13 06:41] krajek commented on #78
I can see how in some rare scenarios it might be a little bit helpful. However, in general, I consider this idea "feature creep" in the context of `Serilog.Exceptions`. I think it will add complexity for very little to no gain.

Some rationale:
A) There is a discussion of how to select inner-most exception in case of few candidates.
B) Same question for cyclic object graphs.
C)
C) It still does no

[2018-11-13 13:01] RehanSaeed commented on #78
Regarding A, I think we could just call `exception.GetBaseException()`.
Regarding C, I agree that having the full exception information is way more useful.

Simplicity is also a feature. So we do need to be careful when adding features. Lets put this on hold and see if we get more requests for this feature.

[2018-11-13 13:01] #78 closed

[2018-11-14 19:48] #64 closed

[2018-12-14 09:16] eloisetaylor5693 opened #86 "Library does not log extra exception detail for Console Logger"
When using this setup, the extra exception properties are not output

[code]

[2018-12-16 15:17] eloisetaylor5693 commented on #86
Simple example:
[code]

With packages:
[code]

Gives this output:
[code]

But I would have expected to see more exception detail than exception.ToString() gives.  For example I would expect to see the data properties in the logged error, based on the documentation for this library.

[2018-12-17 06:35] krajek commented on #86
Hi @eloisetaylor5693 , thanks for reaching out to us.

`Serilog.Sinks.Console` sink's default output template does not display enriched properties at all. Not for `Serilog.Exceptions` and not for any other (like standard `Enrich.FromLogContext()` or `Enrich.WithProperty`).

If you need want that you need to specify custom template including `Properties` like that:

[code]

Then your output will lo

[2018-12-17 06:48] krajek commented on #86
I have extended the `README.md` with short description and an example in 84b62d1.
That should help, thanks again @eloisetaylor5693 .

[2018-12-17 06:48] #86 closed

[2019-01-04 04:09] fleed commented on #58
@RehanSaeed @krajek Any progress here?

[2019-01-04 08:56] RehanSaeed commented on #58
No but we'd be willing to accept a PR for this.

[2019-01-10 20:09] rocknet opened #87 "Confusion regarding default removal of StackTrace and TargetSite"
With [Issue 29](https://github.com/RehanSaeed/Serilog.Exceptions/issues/29), it was decided to remove StackTrace and TargetSite from the ExceptionDetail structure because it was alleged Serlilog already included it.  The issue was created in late 2017 and resolved in earlier 2018, but using Serilog in 2019 doesn't appear to extract StackTrace and TargetSite into properties and I can't find referen

[2019-01-10 20:36] krajek commented on #87
Hi @rocknet, thanks for reaching out to us.

Please, take a look at the following program:

[code]

It results in such entry in Seq:

[code]

Above output is just what I expected, the stack trace is present.

Could you prepare a minimal reproducible program so I could understand your problem better?

[2019-01-10 20:47] rocknet commented on #87
Hi @krajek.  Yes, the stack trace is present because that is the Exception property from Serilog, which calls `ToString()`, which includes the stack trace if it's present.  I agree it works this way.

However, I would expect that if one was using Serilog.Exceptions, you wouldn't also be logging the native Serilog Exception property, considering you get a much richer representation with this packag

[2019-01-10 20:49] #87 closed

[2019-01-16 16:45] yosigolan opened #89 "Stacktrace is missing in log"
Hey.
i am using this package along with the google cloud stackdriver logging sink.
i know that you wrote in the readme file that serilog adds the stacktrace but on google logs it dont shows.
how do i add back the stacktrace property?
![image](https://user-images.githubusercontent.com/18391088/51264303-e0f2cd00-19be-11e9-9be6-b8671f538e9e.png)

Thanks

[2019-01-16 16:59] RehanSaeed commented on #89
See https://github.com/RehanSaeed/Serilog.Exceptions/blob/7c940e7c1f64e97849805c08a69dc8c7ecb7c7b2/Source/Serilog.Exceptions/Core/DestructuringOptionsBuilder.cs#L29-L30

You can pass your own configuration that does not call this method https://github.com/RehanSaeed/Serilog.Exceptions/blob/7c940e7c1f64e97849805c08a69dc8c7ecb7c7b2/Source/Serilog.Exceptions/Core/DestructuringOptionsBuilder.cs#L115

[2019-01-16 17:03] yosigolan commented on #89
Thank you for the response.
how do i pass a configuration that overrides the defaults? can you give a quick example?
is it possible to configure it using the appsettings file or that i have to use the code?

[2019-01-16 17:05] RehanSaeed commented on #89
https://github.com/RehanSaeed/Serilog.Exceptions#additional-configuration

[2019-01-16 17:20] yosigolan commented on #89
Thank you it works.

[2019-01-16 17:20] #89 closed

[2019-01-16 20:10] Alex-Dinu opened #90 "Nothing is logged"
I have the following appsettings config

[code]
And log using

_logger.Error(new TaskSchedulerException("qqq"), "www");

But nothing is being logged. Not sure where I'm going wrong.

Thanks
Alex

[2019-01-16 20:14] krajek commented on #90
Hi Alex,

Please prepare a small but complete program that will reproduce the problem. What you sent is not enough to detect a problem, which may be in the code not in the config at all.

[2019-01-17 13:49] ad1969 commented on #90
Removing the outputTemplate sort of worked. Adding "outputTemplate": "{Properties:j}" also sort of worked. When I say sort of, I also pushed some additional properties which are not being displayed, most probably due to the outputTemplate.

My ultimate goal is to log json which may contain one or more objects as in the example below. My current direction is to push properties and then log them by

[2019-01-17 21:03] ad1969 opened #92 "PushProperty and a data object"
_logger.Information("{@data}", data); writes out the data object properties and values just fine. How do I do the same thing with PushProperty? I tried using (LogContext.PushProperty("{@data}", data)) but all it does is .ToString() which is essentially the class name.

Thanks

[2019-01-17 21:04] ad1969 commented on #92
Never mind. I saw the answer as soon as I submitted the question. Set the last parameter to true....

[2019-01-17 21:04] #92 closed

[2019-02-22 17:44] nilmas opened #96 "Log certain ExceptionDetail fields to separate database table columns"
I'm using Serilog.Sinks.Postgresql (https://github.com/b00ted/serilog-sinks-postgresql) and I would like to log certain fields from the ExceptionDetail object to separate database table columns.

In Serilog.Sinks.Postgresql context this would mean using SinglePropertyColumnWriter. As an example from https://github.com/b00ted/serilog-sinks-postgresql:

IDictionary<string, ColumnWriterBase> columnWr

[2019-02-24 14:10] krajek commented on #96
I am not familiar with PostgreSql sink, but in general, `ExceptionDetail` property generated by `Serilog.Exceptions` is a normal property that can be consumed just like any other. Therefore, any specific issues are much better suited for the sink's repository rather than this one.

That said it seems that the sink has some writers for JSON payloads, which in that your case may be beneficial. If yo

[2019-02-24 14:10] #96 closed

[2019-02-24 16:14] nilmas commented on #96
Appreciate the response.

I was thinking something along these lines for extracting "always there" Exception properties from ExceptionDetail and adding them directly to log event properties to be written to separate database columns:

        public void Enrich(LogEvent logEvent, ILogEventPropertyFactory propertyFactory)
        {
            if (logEvent.Exception == null) return;
            if

[2019-03-26 17:25] axbutler opened #99 "Properties are written in PascalCase"
Hi

Thank you for this excellent library which I am just getting to grips with.

I have an issue in that the property names are PascalCase where the standard serilog exception properties are camelCase - at least in elastic search which is my use case.

Is there a way to get them to follow the normal convention and also be camelCase?
Also, any way to merge them with the standard exception propertie

[2019-03-26 19:43] krajek commented on #99
Hi @axbutler,

For now, there is no way to influence the name of the properties. To be precise, names are not always in pascal case notation, but rather they are spelled exactly as they are defined in the code. If you would name exception properties using lower case notation this is how they would be logged.

The only property name that you can influence is the "ExceptionDetail" itself which can b

[2019-03-26 19:43] #99 closed

[2019-03-27 07:07] axbutler commented on #99
@krajek Thank you for taking the time to respond to me.
I have a follow-up question if that's okay - what makes Serilog.Exceptions different to the normal Serilog processing that it's properties are serialized as PascalCase where Serilog serializes as camelCase, to the same sink?
If I look at a nested exception from Serilog then I see
[code]
The property name ended up PascalCased (which is unfortu

[2019-03-27 07:38] axbutler commented on #99
Thanks @krajek

[2019-04-01 08:08] RehanSaeed opened #100 "Destructuring EntityFramework's DbUpdateException causes DB Queries"
See https://github.com/aspnet/EntityFrameworkCore/issues/15214 for details. Would be willing to accept a PR for this work.

[2019-06-27 23:33] joelweiss commented on #100
I can submit a PR, but I don't know where to even start with writing tests for this.

[code]
#### Here is the log output with `DbUpdateExceptionDestructurer`
[code]

#### And here is the log output without `DbUpdateExceptionDestructurer`, as you can see it has all the users from the database
[code]

[2019-06-28 10:18] RehanSaeed commented on #90
Feel free to reopen if you have more info.

[2019-06-28 10:18] #90 closed

[2019-06-28 10:19] RehanSaeed commented on #63
Package is now available:

https://www.nuget.org/packages/Serilog.Exceptions.SqlServer/

[2019-06-28 10:19] #63 closed

[2019-06-28 10:34] RehanSaeed commented on #100
Thanks, that would be great!

I'm wondering if we could we use the Entity Framework SQLite provider for the tests.

[2019-06-28 22:59] joelweiss commented on #100
The SQLite provider doesn't set the `DbUpdateException.Entries` Property, so there was no new queries to the db.

[2019-07-06 11:48] firatsarlar opened #120 "Handling System.Net.WebException is not complete."
#### Issue Description
Handling System.Net.WebException is not complete.
During destructuring exception, under Response key ( HttpWebResponse),
Under Headers key, Headers displayed but only keys.Not values.
A sample json example:
[code]
To reproduce issue:

* Create logging with exception enrichment.
* In a try - catch , Make a call with system.net.webclient's downloadstring method , ( try uri "ht

[2019-07-06 12:12] firatsarlar commented on #120
I started to think if this is an issue about CompactJSONFormatter , but not sure.
If so, sorry for confusion. Feel free to close issue.

[2019-07-06 12:51] #120 closed

[2019-08-20 06:53] NizamLZ opened #128 "Memory hogging happening in ReflectionBasedDestruturer"
#### Issue Description
Server memory is suddenly getting filled from 11% to 99% within ~3 mins. Came to this conclusion based on the memory dumps.

![image](https://user-images.githubusercontent.com/9017268/63324079-f3fac080-c344-11e9-9972-b0649e23776a.png)

Unexpected EF Core entities found in memory.

#### Version `Serilog.Exceptions` NuGet package?
5.3.1

[2019-08-20 07:23] krajek commented on #128
Hi @NizamLZ , thank you for the report and sorry for the problem.

Could you tell us more about your use case?

Do you have any idea how you got millions of objects in such a short time? Destructurer works only when there are exceptions, do you have that many exceptions? Could you show me what kind of exceptions are you throwing?

The `<String, Object>` dictionary that is mentioned is a local vari

[2019-08-20 08:10] NizamLZ commented on #128
Hi @krajek,

I agree, its not a leak.

The stack trace showed that there was an exception, not millions, only one. The control went into Destructurer and did not come out.
I believe Destructurer reached the DB Context->Db Set or directly DB Set and started reading it, making the EF Core hit the db and get the entires.

One thing to note is that all of the entities in memory belong to same entity t

[2019-08-20 08:18] krajek commented on #128
Got it.  What is the type of an exception?

A) In general, if you have a problem with the particular type of exceptions you can implement custom destructurer. In your case, you would just ignore properties that reach `DbContext` and avoid the problem altogether.

B) https://github.com/RehanSaeed/Serilog.Exceptions/pull/117 Lately there was an accepted PR that seems to be closely related to your pr

[2019-08-20 08:19] RehanSaeed commented on #128
Hey @NizamLZ, hope all is well.

If this is EF Core, then there is a new package to deal with it's exceptions.

[2019-08-20 08:37] NizamLZ commented on #128
@krajek, They are sql timeout exceptions. Thanks for options A & C, will try to do one of those.
I knew B and hence updated the package to 5.2.1 very recently. This started after that itself. Never happened with old version, hence wanted to let you guys know.

Hey @RehanSaeed, all good here. Hope you are doing good as well.
Which package are you referring to?

[2019-08-20 08:57] RehanSaeed commented on #128
There are two packages on the home page. One for SqlException and one for EF Core exceptions.

[2019-08-20 22:56] joelweiss commented on #128
@NizamLZ

The latest package is not enough, did you add the `DbUpdateExceptionDestructurer` during [setup](https://github.com/RehanSaeed/Serilog.Exceptions#serilogexceptionsentityframeworkcore)?

[2019-09-26 16:06] RehanSaeed commented on #128
Closing. Feel free to reopen if the other packages I mentioned are not enough.

[2019-09-26 16:06] #128 closed

[2019-10-02 07:21] videokojot opened #137 "Enricher is throwing System.InvalidCastException"
#### Issue Description
When we enabled Serilog.SelfDebug we found out that enricher is throwing exceptions like this:

[code]

#### Version `Serilog.Exceptions` NuGet package?
5.3.1

[2019-10-02 13:01] RehanSaeed commented on #137
Labelled as a bug. Would be willing to take a PR for this.

[2019-10-02 13:10] krajek commented on #137
@videokojot could you please provide an example following principles described here:
https://stackoverflow.com/help/minimal-reproducible-example ? If I could have such example I could easily fix the problem.

Why do you think it is `Serilog.Exceptions` throwing the exception? Nothing in the call stack suggests that, doesn't it?

[2019-10-03 15:46] videokojot commented on #137
@krajek @RehanSaeed Thanks for looking into this. We are using ExceptionEnricher wrapped inside our exception sanitizer - which overwrite sensitive fields (marked with notlogged attribute) and will set those to null.

Cannot reproduce locally as the it is caused only by multiple exceptions, and I have only logs from the cloud. This is our enricher wrapper:

[code]

[2019-10-03 16:02] krajek commented on #137
@videokojot please take a look at the following code from Serilog's codebase:

https://github.com/serilog/serilog/blob/a1e9850db854cc43b2d2fff29eeb38cb1a93341b/src/Serilog/Cap
turing/PropertyValueConverter.cs#L206

They clearly state that:

[code]

My best guess is that you have exception that has a non-scalar key.
Is this possible?

Later I will try to reproduce such behavior.

[2019-10-03 16:12] videokojot commented on #137
@krajek thanks for quick response. That is possible.

Since ExceptionEnricher is designed to destructure abritrary exceptions so I thought it should handle this case (do not destructure those properties etc). Currently it clutters the SerilogSelfLog so we cannot see other problems.

Do not want to add filtering for every exception that could cause this, as that can be almost any exception type. Do

[2019-10-03 17:01] krajek commented on #137
@videokojot I tried to reproduce the problem but I could not find any fault in `Serilog.Exception` itself.
Dictionary keys are always stringified with `.ToString()`, so it seems like there is no way that collection would make it into a key of the dictionary.

I used following test:

[code]

@videokojot could you provide the code for the exception that you imagine could cause the problem?

@RehanSa

[2019-10-10 19:28] RehanSaeed commented on #137
It would be very helpful if we had an example or repro that could recreate this exception. Without it, it's difficult to diagnose and fix.

[2019-10-11 04:45] krajek commented on #137
@RehanSaeed without any other proof my current best guess is that there is no fault in `Serilog.Exceptions` itself. I propose to close this one.

[2019-10-11 04:53] krajek commented on #58
@RehanSaeed the issue is so old and yet nobody complained. At the time I thought that it would be useful but it seems configuration in code is the standard.

My suggestion: close the ticket.

[2019-10-11 04:56] krajek commented on #54
@RehanSaeed at the time I started the issue I thought it would be useful. However, in almost two years of using `Serilog.Exceptions` on every single project I never thought about or needed the feature. Closing.

[2019-10-11 04:56] #54 closed

[2019-10-11 05:46] RehanSaeed commented on #137
Feel free to reopen if you have more information!

[2019-10-11 05:47] #58 closed

[2019-10-13 16:15] RehanSaeed opened #141 "GitHub Docs"
@krajek I added every type of GitHub document under the .github folder. Been going through all my repos doing so.

One of the docs is funding.yml which adds a sponsor button to the top. Never tried it, don't expect anything from it but am giving it a go. I added you as a GitHub user but you need to register for the GitHub sponsors beta. I also registered you for the Open Collective project, you sh

[2019-10-14 13:44] videokojot commented on #137
@krajek @RehanSaeed Hi guys, sorry for late response. I digged into logs and found three exception types which caused the Serilog.Exceptions to fail:

[code]

[code]

[code]

[2019-10-14 18:18] krajek commented on #137
@videokojot could you provide a minimal reproducible example? I do not understand how logs you provided convinced you it is a `Serilog.Exceptions` fault.

[2019-10-15 14:14] videokojot commented on #137
@krajek well if you check the code I posted before, you can see that in our enricher wrapper we are using the code from actual Serilog,Exceptions. See [ExceptionEnricher.cs](https://github.com/RehanSaeed/Serilog.Exceptions/blob/41c3698ba0dd6bf2d7b95d49e70cfe746026bc8b/Source/Serilog.Exceptions/Core/ExceptionEnricher.cs).

Here we are catching enricher exception and logging it. I am posting the cod

[2019-10-15 14:31] krajek commented on #137
I agree that it seems that there is a possible fault in our code. However, I could not find the problem by reviewing the code, and by trying to reproduce it on my own in our automatic tests.

Could you please provide an example following the principles described here:
https://stackoverflow.com/help/minimal-reproducible-example ? If I could have such example I could easily fix the problem.

[2019-10-15 17:18] videokojot commented on #137
Hi, unfortunately I am not able to reproduce when running the application locally with debugger attached (hence I cannot create the minimal repro example),

Possible reasons I cant reproduce locally:
- locally I am running on Windows, while in the cloud it runs on Linux docker (so the WebSocket exception can have some different internals, which then are failing the serialization), thinking about t

[2019-10-15 19:49] krajek commented on #137
Thanks for more information.
I will try my luck and create some tests with `ObjectDisposedException`.

The other thing that came to my mind is to create a PR in `Serilog` itself, that would gently fall back to any other behavior than crashing with "Unable to cast object of type 'Serilog.Events.SequenceValue' to type 'Serilog.Events.ScalarValue'."

As a last resort, I will try to employ the propert

[2019-10-16 14:16] videokojot commented on #137
Ok, thank you very much for your effort.

[2019-11-29 20:58] 304NotModified opened #156 "disable reflection based destructurer"
Hi,

As far as I understand, disabling/replacing the reflection based destructurer isn't an option.

(see also https://stackoverflow.com/questions/59054681/is-it-possible-to-disabled-the-reflection-based-destructurer-in-serilog-exceptions)

Is a PR accepted for this?

[2019-11-30 12:01] TiborBremer opened #157 "Please upload a new nuget package of Serilog.Exceptions.EntityFrameworkCore"
At the moment the nuget version of Seriglog.Exceptions.EntityFrameworkCore is at 5.3.1 which is the version with the incorrect namespace. This is fixed in version 5.3.2 but this isn't on nuget.

I thought I had accidentally installed the wrong package when I needed the SQLServer namespace inside my project

[2019-11-30 19:57] krajek commented on #156
Hi @304NotModified, thanks for reaching out.

You are right, this is not an option yet. Nobody asked for it and we did not think about it :-).

I am pretty sure that we would agree on backward-compatible change that would allow disabling reflection-based destructurer.

I think I can implement it early next week.

[2019-11-30 23:12] 304NotModified commented on #156
Cool!

[2019-12-06 08:54] #141 closed

[2019-12-06 09:02] RehanSaeed commented on #157
Released. Thank you for pointing that out.

[2019-12-06 09:02] #157 closed

[2019-12-07 19:39] krajek opened #166 "CHANGELOG was removed"
### Question

Hi @RehanSaeed ,

I saw that change log was removed by 40005d5ac036b27523599aa2afcb33955c613550.
Was it on purpose? Is there any other place to document changes for each version?

[2019-12-08 08:39] RehanSaeed commented on #166
GitHub releases now kick of CI builds and automatically publish the NuGet package. You just need to bump the version number before you create a release.

https://github.com/RehanSaeed/Serilog.Exceptions/releases

[2019-12-26 11:05] #166 closed

[2019-12-26 11:05] RehanSaeed commented on #156
Fixed in https://github.com/RehanSaeed/Serilog.Exceptions/pull/158

[2019-12-26 11:19] RehanSaeed commented on #156
5.4.0 released.

[2019-12-26 11:19] #156 closed

[2019-12-26 18:15] 304NotModified commented on #156
Great!

[2020-01-08 14:08] alexdresko opened #170 "Add DbUpdateExceptionDestructurer via JSON configuration"
I know it's possible to add the exception details enricher using the [JSON configuration plugin](https://github.com/serilog/serilog-settings-configuration), but I can't figure out how to convert [these DbUpdateExceptionDestructurer instructions](https://github.com/RehanSaeed/Serilog.Exceptions#serilogexceptionsentityframeworkcore) to a JSON configuration.

[2020-01-29 09:00] RehanSaeed opened #175 "Add C# 8 Nullable Reference Types"
### Describe the feature

Add [C# 8 Nullable Reference Types](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references).

[2020-05-28 10:56] b3spoke commented on #170
@alexdresko did you find a solution for this in JSON?

[2020-06-01 10:33] RehanSaeed commented on #170
I also went through a phase of trying to configure a lot of Serilog using JSON but came to the conclusion that it's not really possible. In our case, I'm not sure we could do it easily, sorry!

[2020-06-01 10:33] #170 closed

[2020-06-01 15:00] alexdresko commented on #170
For the record, I also created [Disable programmatic configuration via JSON configuration · Issue #204 · serilog/serilog-settings-configuration](https://github.com/serilog/serilog-settings-configuration/issues/204), wherein the answer was no.

[2020-08-13 09:35] burak-tarhanli opened #227 "Invalid JSON - How to log errors as array of objects in JSON?"
In my output file, errors logging as this:
[code]
But this is not a valid JSON, because it has multiple root elements. It's very difficult to pretty print and read.
![Capture](https://user-images.githubusercontent.com/18482904/90118330-c29eb000-dd60-11ea-9044-21b63037e41c.PNG)
How can i generate a valid JSON (array of objects) like this:
[code]
My current logger configuration is this:
[code]
Relev

[2020-08-13 10:37] RehanSaeed commented on #227
This is more of a Serilog question but I'll answer briefly.

With structured logging, there are various consumers that have been built with this format in mind e.g. Filebeat can be used to pick up the json logs and send them to elastic search. Alternatively, instead of using the file logger, you can send logs directly to a consumer e.g. You can send logs directly to Seq.

[2020-08-13 10:37] #227 closed

[2020-08-27 00:59] tputs001 opened #231 "Guidance on how to go about in filtering out certain properties"
### Question

I'm trying to control the properties that Serilog.Exception is generating and sending back to our Kibana.  I want to just keep the top level that Serilog.Exception generates.  Can you help provide some guidance on how to filter out properties like `InnerException` and `Call` ?

I think I can use the `WithFilter(someFilter)` method, but I'm not sure what `some filter` is suppose to be

[2020-08-27 06:35] krajek commented on #231
HI @tputs001

In general, `DestructuringDepth`, should be the way to go. Note, that it works only for the reflection-based restructured.

As for ignoring certain properties, we have `IgnorePropertyByNameExceptionFilter`, you just pass properties names to the constructor.

Could you post a minimal and complete example of the issue you mentioned?
It would be so much easier to diagnose and advise.

[2020-08-27 20:34] tputs001 commented on #231
Hi @krajek

Thank you for the quick response. I actually am going to close this issue, I managed to figure it out.  Thank you again!

[2020-08-27 20:34] #231 closed

[2020-09-03 08:07] RehanSaeed opened #235 "Add Assembly Trimming Attributes"
See https://devblogs.microsoft.com/dotnet/customizing-trimming-in-net-core-5/

[2020-09-25 11:30] flipdoubt opened #241 "Are there any samples showing how to write log messages that consume properties using ExceptionDetails?"
I have Serilog.Exceptions properly configured and enriching, but I'm not clear on how to efficiently make use of the data. Are there any examples showing how others use these new properties? Do you add these properties to your `outputTemplate`? I hoped this would serialize the exception passed to `LogError(ex)` more readable, but it had no effect like that. A sample project in the repo would help.

[2020-09-25 13:33] TysonMN opened #242 "Remove Git LFS"
This repository is configured to support large binary files via Git LFS in [its `.gitattributes`](https://github.com/RehanSaeed/Serilog.Exceptions/blob/master/.gitattributes#L17-L44).  However, the only files with any of those extension are [these three png files](https://github.com/RehanSaeed/Serilog.Exceptions/tree/master/Images).  They don't seem large to me, and they don't seem to be changing

[2020-09-25 13:56] RehanSaeed commented on #242
Hey @TysonMN!

I'm sorry to hear you're having trouble. I usually add a `.gitattributes` by default these days as if you want to do it later, moving to git LFS means rewriting history. In theory, as long as you have LFS installed, there shouldn't be any issues. Do you have more details about what's going wrong?

[2020-09-25 13:58] RehanSaeed commented on #241
Do you mean how to use the extra logged properties? Normally people log them as JSON to ElasticSearch, Seq which allows them to then search the logs, run very complex queries by property and create nice visualisations. All of that is out of scope of this project.

[2020-09-25 14:16] TysonMN commented on #242
That was the fix.  All I had to do was install it (from [here](https://git-lfs.github.com/)).

Thanks! :)

[2020-09-25 14:16] #242 closed

[2020-09-25 14:28] RehanSaeed commented on #242
Cool!

FYI, this blog post I wrote might be helpful:

https://rehansaeed.com/gitattributes-best-practices/

[2020-10-03 12:56] flipdoubt commented on #241
Hi, Rehan. I just meant a sample outputTemplate showing a typical usage. If you suggest the typical usage is to not include these additional properties in the output template but to instead query them in some sort of search tool, then I guess that is the answer I'm looking for. Perhaps I missed it in the Readme, but that part of the "user story" is what eluded me. When my output template includes

[2020-10-03 12:56] #241 closed

[2020-10-08 14:57] rmcrackan opened #248 "EFCore and Serilog.Settings.Configuration"
How would this EFCore necessity be written in json, a la [Serilog.Settings.Configuration](https://github.com/serilog/serilog-settings-configuration)

[code]

[2020-10-09 20:03] TysonMN opened #249 "Add destructurer for SocketException"
I suggest adding a destructor for [`SocketException`](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socketexception).  I volunteer to do this work, but I also want to do a bit more than the naive implementation.

`SocketException` has a few properties related to the error (namely `ErrorCode`, `NativeErrorCode`, and `SocketErrorCode`).  However, they are all a bit cryptic.  The fir

[2020-10-11 06:56] RehanSaeed commented on #249
Enriching the exceptions is an interesting idea. I can see only two issues:

1. Increasing log size is something that worries people. It costs money to store more JSON in ElasticSearch for example.
2. Microsoft always seems to break their links after a few years.

If you only want to add `SocketErrorCodeHelpLink`, that doesn't sound too bad but wouldn't it just always have the same link?

[2020-10-11 13:07] RehanSaeed commented on #248
Duplicate of https://github.com/RehanSaeed/Serilog.Exceptions/issues/58

Right now, there is no way to do this and it's not clear how we could easily add support for it.

[2020-10-11 18:12] rmcrackan commented on #248
@RehanSaeed Darn. Thanks for the reply. I actually don't like the json way; it reeks of magic strings. But I don't know of another way to have log level configurable rather than hardcoded.

[2020-10-11 18:12] #248 closed

[2020-10-12 07:07] RehanSaeed commented on #248
I've used the JSON config as a switch before:

[code]

Then in code you can read that value and enable/disable some Serilog feature.

[2020-10-15 17:05] TysonMN commented on #249
If an application is throwing (and logging) `SocketException`s so frequently that an extra property and URL is using too much space (whatever the sink), then the application has more important problems to worry about.

Application-level enrichers are common place (like [the machine name enricher](https://github.com/serilog/serilog-enrichers-environment)) and will consume much more space than what

[2020-10-15 17:05] TysonMN commented on #249
I agree about the fragility of the URL.

In my local implement of this, I didn't log the URL. Instead, I copied the sentence of documentation for each `enum` case into a dictionary, used the `enum` value to obtain the sentence of documentation, and enriched that information instead of a URL.  This is more useful because it doesn't require an internet connection and doesn't require the loading and

[2020-10-20 09:52] RehanSaeed commented on #249
That sounds good to me.

[2020-10-21 18:44] lesscodetxm commented on #100
@RehanSaeed Would there be a way to detect at runtime that Serilog.Exceptions.EntityFrameworkCore is not referenced, but the Serilog.Exceptions enricher is enabled? Maybe a warning-level log at initialization time, etc.

After we upgraded from .Net Core 2.2 -> 3.1 (and all associated third-party packages), we spent a lot of time tracking down our apparently random "out-of-memory" crashes because w

[2020-11-02 14:07] RehanSaeed commented on #100
@lesscodetxm I think that's a good idea. It's there in the documentation but easy to miss.

We'd need to have a think about how we could log a warning using Serilog. It's a bit weird that logging something would cause another log message to get logged.

[2020-11-02 15:29] lesscodetxm commented on #100
Well, I was thinking that the situation could be detected earlier than a logger call, maybe during `.Enrich.WithExceptionDetails`, but I guess there's no way to predict at that time that EF is going to try to log something...

[2020-11-02 15:32] RehanSaeed commented on #100
We could look for the exception in the current assembly context on startup. However, we would take a slight performance hit. I'm not certain how much though.

[2020-11-02 15:33] lesscodetxm commented on #100
Right. I was thinking that maybe it would be enough to warn if, during `.Enrich.WithExceptionDetails`, and the `DbUpdateException` destructurer wasn't configured, and the `Microsoft.EntityFrameworkCore` assembly is loaded?

[2020-11-02 15:36] RehanSaeed commented on #100
Yes that makes sense. Want to submit a small PR with that if statement in it?

[2020-11-02 15:36] lesscodetxm commented on #100
I'll see if I can take a stab at it this week.

[2020-11-03 10:22] #249 closed

[2020-11-05 14:44] RehanSaeed opened #258 "Renaming master Branch to main"
The default branch name for GitHub and Git has changed to `main`. To avoid having to remember the default branch name and also for ethical reasons, I propose renaming the `master` branch to `main`.

More info here:
https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main

[2020-11-05 14:45] RehanSaeed commented on #258
cc @krajek

[2020-11-06 14:31] #258 closed

[2020-11-25 08:39] luizbon opened #268 "Support Destructurama"
Some custom exceptions can have sensitive data.

It would be nice if was possible to get the benefit of https://github.com/destructurama/attributed destructuring when logging those exceptions.

[2020-11-26 09:50] RehanSaeed commented on #268
Looked at the repo. It's a bad idea to be adding passwords to an exception, so I would simply not do that instead of using that library.

I think rather than deciding to support Destructurama, we should perhaps think about adding some extensibility that allows you to decide whether you want to log a property or not e.g.

[code]

But not sure if this is useful, you are the first person to ask for a

[2020-11-26 09:59] luizbon commented on #268
Fair point to argument.
In my case is not about secrets, but having Personal Identifiable Information (PII) data on custom exceptions.
For example, an exception that captures a request which posted PII data.

[2020-11-26 10:01] RehanSaeed commented on #268
Would it be possible to remove that data from the exceptions in the first place?

[2020-11-26 10:34] luizbon commented on #268
Yes it is, but it'll be nicer to have the whole logging pipeline respecting the current applied enrichers.

[2020-11-26 11:18] RehanSaeed commented on #268
Thoughts @krajek?

[2020-11-26 13:22] krajek commented on #268
I agree @RehanSaeed.
The problem seems to be out of the domain of the library.
I do not know the details, so I may miss something, but it seems that exception should only contain some identifier (GUID for example) that would allow an authorized actor to reach for PII if necessary (debugging or audit purposes), secured by proper authorization.

@luizbon  Alternatively, you could write your own dest

[2020-11-26 19:43] luizbon commented on #268
Fair enough, the downside of using identifiers is that it's required to have code to load the data on the exception handler that needs the data. But is understandable to have it.

My suggestion was related to the library respect the current enrichers configured on Serilog pipeline when destructing the exception. Probably I wasn't clear of this when opened the issue.
I'll close this issue as it's n

[2020-11-26 19:43] #268 closed

[2020-12-16 12:50] mkeymolen opened #275 "Serious performance issue in combination with dbsets in dbcontext"
The logging causes a very important performance drain in combination with dbsets in you dbcontext.
If an error occurs at dbcontext level, it tries to log the Dbcontext class and al its properties.
If you have dbsets configured in that dbcontext class it will load all data from each table which wil cause a cpu/memory/database crash if it is a large database.

If i have time soon, i will try to solv

[2020-12-16 13:08] RehanSaeed commented on #275
This is called out in the main README. You need to use this additional package with EF Core:
https://github.com/RehanSaeed/Serilog.Exceptions#serilogexceptionsentityframeworkcore

[2020-12-16 13:08] #275 closed

[2020-12-19 17:08] kmcclellan opened #276 "Make it easier to use default destructurer for custom exceptions"
### Describe the feature

If an exception type isn't recognized by this library, the fallback is to use the `ReflectionBasedDestructurer`. It's a common case to have custom exception types that I want to use with the base `ExceptionDestructurer` instead. Currently there's no easy way to configure this to occur.

### My current workaround

[code]

While this isn't much code, it's counterintuitive a

[2020-12-22 16:17] RehanSaeed commented on #276
Not sure about the naming `WithDefaultException` but that method seems like a reasonable idea. Thoughts @krajek?

[2020-12-23 10:02] krajek commented on #276
@kmcclellan Thanks for reaching out. Let me understand your case better. Correct me if I am wrong, please.

You have some custom exceptions for which you intentionally would like to avoid capturing all the properties and would rather just log the "common" exception properties like `Message` and `StackTrace`. In your case, the flexibility of reflection based destructurer is a downside.

Is this the

[2020-12-23 19:47] kmcclellan commented on #276
@krajek That's a good question, actually, since it points to deeper functionality that I found unexpected.

My case is that `Exception.Data` contains instances of models for which I've configured [custom destructuring policies](https://github.com/serilog/serilog/wiki/Structured-Data#customizing-the-stored-data). They destructure correctly for the standard exceptions, but are overridden by the `Ref

[2021-01-20 11:20] SteGaff7 opened #288 "Stack Trace Property Missing"
### Describe the bug

My understanding from [Issue 29](https://github.com/RehanSaeed/Serilog.Exceptions/issues/29) was that excluding the stack trace property was an optional filter, however for me it seems to be excluding it by default.

I am using the Google Cloud Logging sink, injecting Serilog logger and using the Microsoft ILogger interface.

It would be great to get some clarity if this prop

[2021-01-22 09:17] RehanSaeed commented on #288
Yes this is the default behaviour. We skip the StackTrace in the Serilog.Exception's exception details because it's already included with the default Serilog log message.

[2021-01-22 09:18] RehanSaeed commented on #288
See https://github.com/RehanSaeed/Serilog.Exceptions#filtering-properties for how to change the default.

[2021-01-22 09:18] #288 closed

[2021-01-22 09:21] SteGaff7 commented on #288
Thanks for the information.

[2021-02-19 20:38] kinetiq opened #295 "When certain Entity Framework exceptions occur, Serilog.Exceptions hangs for up to four minutes and causes a nasty memory spike."
### Describe the bug

First off, thanks for the great project. :)

This is the chronicle of my issue: https://github.com/dotnet/efcore/issues/24049

Eventually, after hours of experimentation, I isolated the problem to my Serilog configuration.

Below is my Serilog configuration. I included most of my Program.cs for completeness... Bottom line:  if I remove the _.Enrich.WithExceptionDetails()_ lin

[2021-02-19 21:13] kinetiq commented on #295
Roji and ErikEJ let me know that I need to install a package. https://github.com/RehanSaeed/Serilog.Exceptions#serilogexceptionsentityframeworkcore

Thanks, nothing for you to do here!

[2021-02-19 21:13] #295 closed

[2021-02-28 09:58] lonix1 commented on #100
Just ran into this, but thankfully not on production! :stuck_out_tongue:

I agree the developer should be informed, but not via a warning log - since this is a massive problem to have in production, it should crash the program on startup with an explanation and link to this issue.

[2021-02-28 14:01] lonix1 opened #300 "[Docs] Destructurer via json"
I have all my config in json. Does anyone know how to use the destructurer via json?

For example, for [`Serilog.Exceptions.EntityFrameworkCore`](https://github.com/RehanSaeed/Serilog.Exceptions#serilogexceptionsentityframeworkcore):
[code]

How is that represented in the `appsettings.json`?

It would also be useful to add that to the docs in the corresponding section.

[2021-03-01 10:03] RehanSaeed commented on #300
See https://github.com/RehanSaeed/Serilog.Exceptions/issues/58 for a bit more info. We don't currently support serilog-settings-configuration. It would be a nice addition. If you'd like to suggest an idea with a PR, we'd consider it.

[2021-03-01 11:08] lonix1 commented on #300
I wouldn't know how :) I realise you can't support every config scenario though! Feel free to close.

---

BTW I'm confused about the comment in that other issue about how most modern systems use config in code rather than json. The serilog authors also have that opinion.

But in small environments (few people) or when you're working alone, you don't have tools and time to do things "properly". So

[2021-03-01 16:47] RehanSaeed commented on #300
I went on the same search as you for using JSON and came to the same realization.

[2021-03-01 16:47] #300 closed

[2021-03-10 10:37] RehanSaeed commented on #175
Fix is inhttps://github.com/RehanSaeed/Serilog.Exceptions/pull/307.

[2021-03-12 09:53] #175 closed

[2021-03-17 10:40] asgerhallas commented on #276
+1 for this "For any exception destructurer, arguably, the core IDestructuringPolicys should take precedence for non-exception values within the exception tree. If ReflectionBasedDestructurer adhered to this, it would work fine for my case." :)

[2021-04-25 03:00] MNF opened #323 "Add configuration example to readme"
It will be good to add to readme an example of configuration as an alternative to hardcoded new LoggerConfiguration() .Enrich.WithExceptionDetails()- something like

{
  "Serilog": {
    "MinimumLevel": "Debug",
    "Using":  [ "Serilog.Exceptions" ],
    "Enrich": [ "WithExceptionDetails"],
    "WriteTo": [
      { "Name": "Console" }
    ]
  }
}

I haven’t tried it yet.
 Will it work ?

[2021-04-26 09:28] RehanSaeed commented on #323
It should work. Will accept a PR!

[2021-05-12 16:11] Brunoporto2702 opened #342 "Separated Column or Porperty for exception stacktrace"
### Considering the use of structured logs in order to ease processing the logs and being able to generate more precise errors and performance reports:

I was woundering if it would be possible to implement a new property of the current output object that consists of the file and function where the exception occured in order to facilitate post processing the log, for example to create a Dashboard

[2021-05-12 16:33] RehanSaeed commented on #342
The StackTrace should give you information about where the exception came from. Is there something else you need?

[2021-05-14 11:16] domagojmedo opened #343 "Exception with redefined property(new modifier) stops enrichment altogether"
### Describe the feature

Not sure if this eve belongs here, but I'm having trouble getting this package to work with ApplicationInsights sink. I'm trying to get deconstructed Refit.ValidationApiException but no luck.

Any help would be appreciated

[2021-05-14 11:20] krajek commented on #343
I am using Serilog.Exceptions with ApplicationInsights sink and it works fine.
You need to provide an example `https://stackoverflow.com/help/minimal-reproducible-example`, for us to check.

Moreover, Serilog.Exceptions is basically unrelated to any particular sink, its code its executed before sink code obviously.

[2021-05-14 11:29] domagojmedo commented on #343
Yea, my bad, it seems that issue is with Refit.ValidationApiException. It's not getting deconstructed. I'll try to create an example

[2021-05-14 12:52] domagojmedo commented on #343
I'm having trouble finding a public API that will return that exception.

In this repo everything works when ApiException is caught, but if ValidationApiException is caught then nothing gets deconstructed, not even properties from the base ApiException class.

I'll try to find a public API that throws ValidationApiException but at the moment this is the best I could come up with

https://github.co

[2021-05-14 13:54] krajek commented on #343
You don't need public API, just create exception manually and verify result in the log output.

[2021-05-14 14:11] domagojmedo commented on #343
I tried but had issues because it required APiException in constructor. Switched to using reflection now.

Repo is updated, you can see that Content is set to some ProblemDetails object, but nothing is output in console.
If you uncomment ThrowApiException and comment that method you will see that it works as intended

[2021-05-14 20:52] krajek commented on #343
Took me a while to understand what is happening and I found out that this particular exception somehow declares property `Content` twice. `Serilog.Exceptions` fails silently in this case so you do not get any enrichment.

![image](https://user-images.githubusercontent.com/3998666/118329249-08162680-b507-11eb-9e78-72ebbd849f4a.png)

I will fix it tomorrow and let you know.

[2021-05-14 20:54] krajek commented on #343
Ok, it just overrides the definition of `Content` with `new` keyword.

![image](https://user-images.githubusercontent.com/3998666/118329758-59beb100-b507-11eb-8894-c57f7498eb34.png)

[2021-05-17 09:04] RehanSaeed commented on #343
If someone has used the `new` keyword on a property, they are deliberately hiding the one the base class. I'm not really sure we should we be retrieving both. In this case, the derived class looks like it gives us a better representation of the content (`ProblemDetails`) than the base class (`String`). Thoughts @krajek?

[2021-05-17 09:50] krajek commented on #343
@RehanSaeed yes, agreed 100%, next PR will tackle that problem.

Just to reiterate: this PR is just a safety mechanism, the last line of defense, but not the only one.
I assume that robustness(meaning in that case "providing value to the library user" even in the unexpected scenario) is so important for our library that such a mechanism is justifiable.
I will start the next PR just after this is m

[2021-05-26 08:54] #343 closed

[2021-05-26 08:55] #342 closed

[2021-05-26 08:55] RehanSaeed commented on #342
Feel free to reopen if you have more information.

[2021-06-03 15:11] krajek commented on #276
Note to myself, after quick research:
It seems that we could NOT get a hold of `PropertyValueConverter` in the enricher.
It is created within a method and then only passed to a constructor of another object:
![image](https://user-images.githubusercontent.com/3998666/120668196-8292f000-c48e-11eb-9084-da46b55be667.png)

[2021-06-03 15:19] krajek commented on #276
Note to myself after quick research.

It seems that to achieve that we need to get a hold of `PropertyValueConverter` from the base `Serilog` library. However, it also looks like we cannot do that since it is never exposed anywhere. It is created while `Serilog`  and passed to other object which uses it internally.

https://github.com/serilog/serilog/blob/2aabe64a323ff449a2a483968e03d57e4d0bb19d/s

[2021-06-14 12:48] domagojmedo commented on #343
@RehanSaeed when can we expect new version with this fix?

[2021-06-15 08:12] RehanSaeed commented on #343
@krajek Do you want to put in another PR with further improvements? E.g. using `ConcurrentDictionary`?

[2021-06-15 08:22] krajek commented on #343
Yes, but I would not suggest delaying the release because of that. Other
changes will not affect API.

wt., 15 cze 2021, 10:12 użytkownik Muhammad Rehan Saeed <
***@***.***> napisał:

[2021-06-15 09:06] RehanSaeed commented on #343
Released in https://github.com/RehanSaeed/Serilog.Exceptions/releases/tag/7.0.0

[2021-08-06 18:12] VictorioBerra commented on #100
I just had this problem, and it took me hours to track down. @lesscodetxm did you ever get around to a PR?

[2021-08-25 05:10] renovate[bot] opened #387 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dotnet monorepo](../pull/857) (`Microsoft.EntityFrameworkCore`, `Microsoft.E

[2021-09-03 07:55] jaslam94 opened #388 "Not showing Exception stack trace in "Exception" field of the log"
### Describe the feature

Here is an exception logged using `Seriolog.Exceptions` in a json file:

![image](https://user-images.githubusercontent.com/33651074/131970809-a3715a1e-3aac-4ff9-9437-a5a559c52706.png)

A part of my logger configuration with ExceptionDetails and RollingFile configuration is:

`                .Enrich.WithExceptionDetails(
                    new DestructuringOptionsBuilde

[2021-09-03 14:00] RehanSaeed commented on #388
Exception.StackTrace is logged in Serilog and is not owned by our project. There are other Serilog packages that can allow you to omit it. If you'd like Serilog.Exceptions to do the same, we'd take a PR.

[2021-09-03 14:24] jaslam94 commented on #388
Can you please let me know which package would allow me to omit it?

[2021-09-03 14:35] RehanSaeed commented on #388
I believe it was called Serilog Expressions. The creator of Serilog blogged about it.

[2021-09-03 14:37] krajek commented on #388
@jaslam94  https://github.com/destructurama and ByIgnoring project I guess would be a start point.

You could also write one yourself, it seems it would not be much more than:

[code]

@RehanSaeed do you think we should include this function in the package. I could provide PR, which seems straighforward.

[2021-09-03 14:39] krajek commented on #388
@jaslam94 also https://newbedev.com/how-to-remove-properties-from-log-entries-in-asp-net-core

[2021-09-03 14:43] RehanSaeed commented on #388
@krajek Adding another boolean option to remove it from ``Exception.StackTrace` seems sensible.

[2021-09-03 15:00] jaslam94 commented on #388
Correct me if I am wrong, but this would be used to remove a field from the _Properties_ section of the log, not the _Exception_ field which is a separate field. I have already tried it before opening the issue.

In the above example, there is one field called _Exception_ and the other is called _ExceptionDetails_. _ExceptionDetails_ is a child of _Properties_. By default, _ExceptionDetails_ does

[2021-09-03 15:37] krajek commented on #388
@jaslam94 I haven't tried it, but wouldn't that be enough to remove the `Exception` and keep just the `ExceptionDetails.StackTrace`?

[code]

[2021-09-03 15:58] jaslam94 commented on #388
Nope. It won't work. That would remove any given field under _Properties_ section of the log. While I want to remove the _Exception_ field that is not a part of Properties.

Check the following JSON:

[code]

See _Properties_ field and then _Exception_ field above it. I want to remove the _Exception_ field or stack trace from the stringified value of the _Exception_ field.

[2021-09-03 16:26] jaslam94 commented on #388
By default, the _ExceptionDetails_ field comes under _Properties_.

The `logEvent.RemovePropertyIfPresent("Exception");` would not be able to remove anything from the above JSON output.

[2021-09-03 18:44] krajek commented on #388
@jaslam94 you are right, thanks for the explanation.
I have recalled that we had a similar discussion a long time ago and that is why we decided to omit `StackTrace` and `TargetSite` from `ExceptionDetails` by default. I think that there is no way to remove `Exception` from `LogEvent`. It is a getter without a setter.

Ok, that said, can you explain why would you want something else than default b

[2021-09-03 19:24] jaslam94 commented on #388
**StackTrace** is a property of **Exception** object in C#.

The filed _StackTrace_ in _ExceptionDetails_ is logged as property and that's how an exception object should be logged. The structure of the exception object should be preserved. Your package does it just right.

I think rather than removing _StackTrace_ from _ExceptionDetails_ based on the reason that it is already logged in by the defa

[2021-09-17 07:32] git-heath opened #396 "Add destructurer for Refit ApiException"
### Describe the feature

Certain useful properties in the Refit.ApiException class are not logged automatically by Serilog. E.g: Uri, StatusCode, Content etc.

[2021-09-17 07:43] krajek commented on #396
Can you post a source code with a[ minimal and complete example](https://stackoverflow.com/help/minimal-reproducible-example) ?

[2021-09-17 07:46] git-heath commented on #396
Yes absolutely, this was my aim. Will post later today.

[2021-09-17 11:00] jaslam94 opened #397 "Filtering out any property from a direct property of ExceptionDetails"
### Describe the feature

**Problem**

From the following log, I want to remove the field "HelpLink.ProdName", which is a property of "Data" and "Data" itself is a direct property of ExceptionDetails.

[code]

**What I did**

I used the filter `new DestructuringOptionsBuilder().WithFilter(new IgnorePropertyByNameExceptionFilter("HelpLink.ProdName"))`. It did not work.

In the above example, the fi

[2021-09-17 13:10] git-heath commented on #396
@krajek  could you please add me as a contributer to this repo as my attempts to push my branch are rejected with a 403 error ? If this doesn't make sense to you, don't worry the issue could also be on my side.

[2021-09-17 13:51] krajek commented on #396
@git-heath no, we will not add you as a contributor at that time.
Do you know you can fork the repository and open a pull request? This is the standard way to contribute.

That said, I do not expect your example to be related to this repo.
You can prepare a failing test or just a simple problem that demonstrates your issue.

[2021-09-28 11:47] #396 closed

[2021-10-19 09:18] RehanSaeed opened #418 "Create Custom Destructurers for More Exceptions"
### Describe the feature

To avoid using reflection we can create custom destructurers for more exception types. `ArgumentExceptionDestructurer` is a good example for how to do this.

- [ ] System.AggregateException
- [ ] System.BadImageFormatException
- [ ] System.Diagnostics.Contracts.ContractException
- [ ] System.Globalization.CultureNotFoundException
- [ ] System.IO.FileLoadException
- [ ] Sy

[2021-10-19 09:41] krajek commented on #418
Just a question: is it worth it? The cost of reflection is negligible and paid just for the first time exception is destructured.
Supporting so many types of exceptions manually seems like a burden in terms of lines of code/tests/maintenance.

[2021-10-23 15:56] Igor-Zlatomrezhev opened #420 "mapper [NpgsqlValue] cannot be changed from type [date] to [ObjectMapper]"
### Describe the bug

I cannot import PostgresException into Elasticsearch - I am getting 400 with following description:
[code]

### Steps to reproduce

Here is json from log file that causes described problem (I am using ElasticsearchJsonFormatter):

[code]

### Expected behaviour

I believe it is because NpgsqlValue has all this different values (text/ObjectMapper/date):

[code]

It works norma

[2021-10-23 19:24] #420 closed, assigned to nobody

[2021-10-30 13:58] statler opened #424 "EF6 - protection against logging entire db."
With reference to https://github.com/RehanSaeed/Serilog.Exceptions#serilogexceptionsentityframeworkcore. do you know if there is a similar issue with EF6? I have experience with this in EFCore, and wanted to make sure the same issue wont arise in EF6 if you happen to be across it.

[2021-11-01 10:13] RehanSaeed commented on #100
I like this solution as its a more general one as compared to special casing the exception in the core library. Thoughts @krajek?

[2021-11-01 11:57] krajek commented on #100
If anything, I consider this one unobscure, safe improvement. @almostchristian are you keen on providing the PR? Let me know, if you can't I think I can implement one this week.

Note, that materialization of queries could be still present, for example in some getters' bodies. Then custom destructurers would be the only way to go.

[2021-11-01 14:49] almostchristian commented on #100
Do you have concerns with the destructuring of the IQueryable using `value.Expression.ToString()? IMO, it's not very useful unless we add something that can properly serialize the LINQ expression tree.

[2021-11-05 07:51] #100 closed

[2021-11-05 07:53] #323 closed

[2021-11-09 10:59] RehanSaeed commented on #424
There should no longer be any issue. Fixed by https://github.com/RehanSaeed/Serilog.Exceptions/pull/425.

[2021-11-09 10:59] #424 closed

[2021-11-09 11:00] RehanSaeed commented on #137
Any movement on this?

[2021-11-15 07:12] krajek commented on #137
It has been two years. I recall I have not been able to reproduce this problem.
Let's close.

[2021-11-15 07:12] #137 closed

[2021-12-05 03:08] statler opened #439 "Entity Framework Logging Behaviour"
### Describe the bug

The docs describe the known issue with logging of the whole database as below:

_WARNING: In older versions of Serilog.Exceptions, if you are using EntityFrameworkCore with Serilog.Exceptions you must add this, otherwise in certain cases your entire database will be logged! This is because the exceptions in Entity Framework Core have properties that link to the entire databas

[2021-12-07 10:38] RehanSaeed commented on #439
This was the PR that had the fix in it:

- https://github.com/RehanSaeed/Serilog.Exceptions/pull/425

This made it into the 8.0.0 release:

- https://github.com/RehanSaeed/Serilog.Exceptions/releases/tag/8.0.0

Documentation updated.

[2021-12-07 10:38] #439 closed

[2021-12-07 10:50] statler commented on #439
Superb. Thank you for your work

On Tue, 7 Dec 2021, 9:38 pm Muhammad Rehan Saeed, ***@***.***>
wrote:

[2021-12-23 21:27] kingwill27 opened #445 "Exceptions with large properties"
I encountered an issue using Serilog.Exceptions for certain exception types which contain very large properties that exceed the max log size in New Relic (where I ship logs) causing the logs to not be parsed correctly.
* [System.Data.Entity.Core.OptimisticConcurrencyException](https://docs.microsoft.com/en-us/dotnet/api/system.data.entity.core.optimisticconcurrencyexception?view=entity-framework-6

[2022-02-02 22:37] Driedas commented on #418
Hi @RehanSaeed, would you accept a PR that adds a destructurer for RegexMatchTimeoutException?

[2022-02-03 10:12] RehanSaeed commented on #418
@Driedas Sure!

[2022-02-03 12:00] Driedas commented on #418
@RehanSaeed
heh, never mind, I've cloned the project, added the following test to prove that this isn't implemented yet:
[code]

Imagine my surprise when it turned green instead of red as expected :-). Looks like `ReflectionBasedDestructurer` already takes care of this using a bit of smart reflection. D'oh, TDD scores...

[2022-02-16 15:48] jaytilly opened #465 "Same Key Added Exception in ExceptionPropertiesBag"
### Describe the bug

While using in the field within a heavily multi-threaded application, it was found that we there are cases in which a handled exception in user code was being passed to Serilog where the reflection part of this enricher was throwing the error below.  I'd be more than happy to help with a fix if needed but wanted to create the bug report before creating a PR in case this was a

[2022-02-16 16:05] krajek commented on #465
From a quick look, it may be the case that we actually handle duplicate names incorrectly in this scenario.
Thanks for the report I will try to take a look at this in terms of code in the evening.
I don't think it has anything to do with the thread-safety, within one `ExceptionPropertiesBag` there is no concurrency.

[2022-02-16 16:19] krajek commented on #465
@jaytilly on the second look, I change my mind, I don't know how to reproduce this one. Why do you think this involves some threading issue?

[2022-02-19 12:59] RehanSaeed commented on #445
Thanks for reporting.

Regarding the first type `System.Data.Entity.Core.OptimisticConcurrencyException`, am I right in thinking thats the older EF6? If its EF Core, we have an EF package that we should add a custom destructurer to.

We could also add a new package and handle AutoMapper as we have done for Refit. Although, having to add custom destructurers for third party libraries has always lef

[2022-02-19 13:01] RehanSaeed commented on #465
The `ConcurrentDictionary` would be the best approach if this is indeed a concurrency issue (I've not looked deeply).

[2022-02-19 13:01] RehanSaeed commented on #397
I believe you can use Serilog.Expressions to filter out long properties yourself.

https://github.com/serilog/serilog-expressions

[2022-02-21 02:43] arisliang commented on #397
Any example to do it via Serilog.Expressions?

[2022-02-21 02:50] arisliang commented on #397
It seems Serilog.Expression either include or exclude the whole property. Could it be possible to truncate the long property? Since we may still want some information from it.

[2022-03-18 10:20] Guymestef opened #493 "[TaskCanceledExceptionDestructurer] Destructured object type inconsistent"
### Describe the bug

When Task property is null, the string "null" is added to the property bag.
When Task is not null, an object is added to the property bag.

The inconsistent type for the property added to the bag is generating a conflict mapping issue when using elasticsearch sink to store logs, preventing the log to be successfully pushed to elasticsearch.

### Steps to reproduce

When using

[2022-03-20 13:17] codehunter13 opened #496 "Maximum destructuring depth reached."
### Describe the bug

When i use WithExceptionDetails and log a System.AggregateException (DbUpdateException),  i get the error "Maximum destructuring depth reached" from serilog selflog. Is there a way to solve this?

Thx in advance

### Steps to reproduce

WithExceptionDetails
System.AggregateException (DbUpdateException)

### Expected behaviour

No Maximum destructuring depth reached messages

[2022-03-23 09:48] RehanSaeed commented on #496
What does your exception look like? For some exception types we fallback to using reflection and to avoid doing too much we have to add limits. It sounds like your exeption has multiple nested properties.

[2022-05-18 16:41] #493 closed

[2022-05-20 08:43] RehanSaeed commented on #496
Feel free to reopen with more info.

[2022-05-20 08:43] #496 closed

[2022-05-20 08:44] RehanSaeed commented on #465
Anyone had a chance to look at resolving this?

[2022-05-20 08:44] RehanSaeed commented on #445
Feel free to reopen if you have more questions or info.

[2022-05-20 08:44] #445 closed

[2022-05-20 08:46] RehanSaeed commented on #418
I believe we may be able to do this with a source generator. Worth looking into.

[2022-05-20 08:49] RehanSaeed commented on #397
Perhaps we could add a filter type that could allow inspection of properties before they are added:

[code]

[2022-05-20 08:51] RehanSaeed commented on #397
Perhaps we could add a filter type that could allow inspection of properties before they are added:

[code]

[2022-05-20 08:52] RehanSaeed commented on #445
Duplicate of https://github.com/RehanSaeed/Serilog.Exceptions/issues/397#issuecomment-1132647325 where I've added a suggested solution.

[2022-05-20 08:53] RehanSaeed commented on #388
Would this solve this issue?

https://github.com/RehanSaeed/Serilog.Exceptions/issues/397#issuecomment-1132647325

[2022-05-20 08:53] #235 closed

[2022-09-22 06:14] abrasat opened #586 "Demystified exception stack trace support"
Does the Serilog.Exceptions library support also demystified exception stack traces? Or must an application use this library together with some additional enricher as [serilog enricher demystifier](https://github.com/Megasware128/serilog-enrichers-demystifier)? I mean something like this:

[code]
Is the order of adding the enrichers important, or it does not make any difference?

[2022-09-22 11:18] RehanSaeed commented on #586
You can use that separate package to include a better stack trace. This package does not change the stack trace.

[2022-09-22 11:18] #586 closed

[2022-11-10 03:21] samcarton opened #636 "Serilog.Exceptions.EntityFrameworkCore docs warning unclear"
### Describe the bug

This warning in the docs makes it sound like you don't need to use `Serilog.Exceptions.EntityFrameworkCore` at all if you are using `Serilog.Exceptions` 8.0.0 or above :

The issue is that the fix in `Serilog.Exceptions` 8.0.0 only stops the `IQueryable` properties from being evaluated, but the rest of the `DbContext` still gets logged out. For large `DbContexts` this amounts

[2022-11-10 09:09] #636 closed

[2022-11-10 09:10] RehanSaeed commented on #636
Thanks. Now fixed.